body{
    background: url("bg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay{
    border: 1px solid lightskyblue;
    padding: 25px 30px;
    border-radius: 35px;
    box-shadow: 0px 0px 15px lightskyblue , 0px 0px 15px lightskyblue;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.Thnx{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 45px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: arial;
}

.Thnx h1 , h3 , button{
    margin: 0;
    padding: 0;
}

.Thnx button{
    color: white;
    border: 1px solid orange;
    font-size: 19px;
    padding: 7px 14px;
    border-radius: 15px;
    background: linear-gradient(140deg , orange , plum , orange , plum);
    box-shadow: 0px 0px 10px orange , 0px 0px 10px orange; 
    text-shadow: 0px 0px 5px white , 0px 0px 5px white;
    background-size: 200%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 15px;
    position: relative;
    z-index: 1;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}

.Thnx h1 , h3{
    color: lightyellow;
    text-shadow: 0px 0px 10px ;
    transition: all 0.2s ease-in-out;
    font-family:  'Times New Roman', Times, serif;
    font-size: 25px;
}

.Thnx button::after{
    content: "";
    border: 4px solid plum;
    opacity: 0;
    position: absolute;
    z-index: -1;
    border-radius: 21px;
    top: -9px;
    bottom: -9px;
    left: -9px;
    right: -9px;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 10px plum , 0px 0px 10px plum;
}

.Thnx button:hover::after{
    opacity: 1;
    box-shadow: 0px 0px 20px plum , 0px 0px 20px plum;

}

.Thnx button:hover{
    color: white;
    transform: translateY(-8px);
    box-shadow: 0px 0px 20px orange , 0px 0px 20px orange;
    text-shadow: 0px 0px 10px white , 0px 0px 10px white;
    background-position: right;
}

.Thnx button:active::after{
    opacity: 0;
}

.Thnx button:active{
    transform: scale(0.95);
    box-shadow: 0px 0px 30px transparent;
    text-shadow: 0px 0px 30px transparent;
    background-position: left;
}

.Thnx h1:hover , .Thnx h3:hover{
    text-shadow: 0px 0px 25px lightyellow;
    transform: scale(1.04);
    font-weight: bolder;
}

.overlay:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 30px lightskyblue , 0px 0px 30px lightskyblue;
}

.Thnx h3{
    text-align: center;
}

.Thnx h1:active , .Thnx h3:active{
    transform: scale(0.95);
    text-shadow: 0px 0px 20px transparent;
}